@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Lustria", serif;
  font-weight: 400;
  font-style: normal;
}

@utility bgImgMobDay {
  background-image: url("/images/landscape_day.jpg");
}

@utility bgImgMobNight {
  background-image: url("/images/cosmos_forest_night.jpg");
}

@utility bgImgDeskDay {
  background-image: url("/images/lake_desktop_day.jpg");
}
@utility bgImgDeskNight {
  background-image: url("/images/cosmos_night.jpg");
}

@utility lightShadow {
  box-shadow: 0 0 4px 1px hsl(0, 0%, 67%);
}
@utility darkShadow {
  box-shadow: 0 0 6px 1px hsl(219, 97%, 69%);
}

@layer components {
  .listActionButton {
    @apply cursor-pointer  w-full text-left px-2;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#user-account::after,
#user-account::before {
  position: absolute;
  content: "";
  border-radius: inherit;
  animation: 3s spin linear infinite;
}

#user-account::before {
  inset: 0;
  background-image: conic-gradient(
    from var(--angle),
    var(--user-account-start, rgb(21, 4, 255)),
    var(--user-account-end, rgb(228, 26, 228)),
    var(--user-account-start, rgb(255, 4, 4))
  );
  z-index: 0;
}

#user-account::after {
  inset: 2px;
  background: var(--user-account-fill, rgb(243, 244, 246));
  z-index: 1;
}

#user-account {
  --user-account-fill: rgb(243, 244, 246);
  --user-account-start: rgb(255, 4, 4);
  --user-account-end: rgb(255, 255, 255);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}
